<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Source Code</key>
	<string>SOURCE_CODE_LINK</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>SMMSENSORS_BUNDLE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>HWSENSORS_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>HWSENSORS_REVISION</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SMM Monitoring Plugin</key>
		<dict>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOClass</key>
			<string>SMMSensors</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>Platform Profile</key>
			<dict>
				<key>Dell</key>
				<dict>
					<key>02PG84</key>
					<dict>
						<key>Description</key>
						<string>Dell XPS 9360 (i7-8550U)</string>
						<key>Tachometers</key>
						<dict>
							<key>System Fan</key>
							<dict>
								<key>Disabled</key>
								<false/>
								<key>Index</key>
								<integer>0</integer>
							</dict>
						</dict>
						<key>Temperatures</key>
						<dict>
							<key>CPU Package</key>
							<dict>
								<key>Disabled</key>
								<true/>
								<key>Index</key>
								<integer>0</integer>
							</dict>
							<key>Ambient</key>
							<dict>
								<key>Disabled</key>
								<true/>
								<key>Index</key>
								<integer>1</integer>
							</dict>
							<key>Thermal Zone</key>
							<dict>
								<key>Disabled</key>
								<true/>
								<key>Index</key>
								<integer>2</integer>
							</dict>
							<key>Mainboard</key>
							<dict>
								<key>Disabled</key>
								<true/>
								<key>Index</key>
								<integer>3</integer>
							</dict>
							<key>Memory Module</key>
							<dict>
								<key>Disabled</key>
								<true/>
								<key>Index</key>
								<integer>4</integer>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>Default</key>
				<dict>
					<key>DisableDevice</key>
					<false/>
					<key>FanMultiplier</key>
					<integer>1</integer>
					<key>ForceLoad</key>
					<false/>
					<key>Tachometers</key>
					<dict>
						<key>System Fan</key>
						<dict>
							<key>Disabled</key>
							<false/>
							<key>Index</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Temperatures</key>
					<dict>
						<key>CPU Package</key>
						<dict>
							<key>Disabled</key>
							<true/>
							<key>Index</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>IONameMatch</key>
			<string>bios</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>FAKESMCKEYSTORE_BUNDLE</key>
		<string>FAKESMCKEYSTORE_COMPATIBLE</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
</dict>
</plist>
